/*----------Google Fonts----------*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: rgb(231, 231, 231);
  scroll-behavior: smooth;
  scroll-margin-top: 120px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

section {
  width: 100%;
}

body,
html {
  font-family: "Poppins";
  overflow-x: hidden;
  background-color: #0f0f11;
  /*background-color: #999d9e;*/
}

/*--------------ANIMAÇÕES JS-----------------*/

.hidden {
  opacity: 0;
  transform: translateX(100%);
}

.hidden2 {
  opacity: 0;
  transform: translateX(-100%);
}

.hidden3 {
  position: relative;
  opacity: 0;
  transform: translateY(30%);
}

.show {
  opacity: 1;
  filter: blur(0px);
  transition: all 1.3s;
  transform: translateX(0%);
}

.show3 {
  opacity: 1;
  filter: blur(0px);
  transition: all 1.3s;
  transform: translateY(0%);
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/*-----------------INÍCIO---------------------*/

header {
  margin: 20px 0px 20px 20px;
  display: flex;
  justify-content: space-between;
}

.brasil {
  background-color: #1d6dd6;
  width: 100px;
  height: 100px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  position: relative;
  transition: width 0.5s ease;
  padding-left: 100px;
  display: flex;
  align-items: center;
  display: none;
}

.brasil:hover,
.brasil-txt:hover {
  width: 200px;
}

.brasil > div {
  background-image: url("img/globo.gif");
  background-size: 80px 80px;
  background-position: center;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 50%;
}

.brasil-txt {
  font-size: 15px;
  width: 100px;
  white-space: nowrap;
}

.copy {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
}

.inicio ul {
  display: flex;
  flex-direction: column;
  margin-top: -45px;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.inicio h1 {
  font-family: "Poppins";
  height: 120px;
  font-weight: 700;
  font-size: 100px;
}

.inicio h2 {
  font-family: "Poppins";
  font-weight: 200;
  font-size: 40px;
}

button {
  padding: 10px 6px;
  background: transparent;
  position: relative;
  margin-top: 20px;
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50px;
  border-radius: 30px;
  background: #1d6dd6;
  z-index: -1;
  transition: 0.3s;
}

button:hover::before {
  width: 100%;
  border-radius: 30px;
}

.button-txt {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 300;
  font-family: "Poppins";
  gap: 10px;
}

/*-----------------------SOBRE--------------------*/

.sobre {
  min-height: 100px;
}

.sobre-title {
  display: flex;
  align-items: flex-start;
  text-align: left;
  justify-content: space-between;
  align-items: start;
  margin: 0px 200px;
  gap: 200px;
}

.sobre h1 {
  font-size: 25px;
  font-weight: 400;
}

.sobre p {
  font-size: 14px;
}

.line {
  border: solid 0.5px rgba(255, 255, 255, 0.575);
  margin: 0px 200px;
}

.sobre-title div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.sobre-title span {
  font-size: 20px;
}

/*------------------PROJETOS----------------*/

.projetos {
  padding: 0px 80px;
  font-size: 80px;
}

.right {
  display: flex;
  border: solid 1px rgb(167, 167, 167);
  max-width: 1000px;
  border-radius: 200px;
  font-weight: 300;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}

.left {
  display: flex;
  border: solid 1px rgb(167, 167, 167);
  max-width: 1000px;
  border-radius: 200px;
  font-weight: 300;
  align-items: center;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: auto;
  cursor: pointer;
}

.projeto {
  position: relative;
  overflow: hidden;
}

.projeto span,
.bx-link-external {
  margin: 20px 30px;
}

.projeto::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #1d6dd6;
  border-radius: 200px;
  transform-origin: left;
  transition: width 0.5s ease-in-out;
  z-index: -1;
}

.projeto:hover::after {
  width: 100%;
}

/*----------FRASE DE IMPACTO----------*/

.frasedeimpacto {
  height: 100%;
}

.frasedeimpacto h1 {
  font-size: 140px;
  font-weight: 300;
  margin-top: 60px;
  white-space: nowrap;
  animation: carrosel 8s linear infinite;
}

@keyframes carrosel {
  0% {
    transform: translateX(-120%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

/*----------------------CONTATO---------------------*/

.contact {
  background-color: #161618;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  height: 500px;
}

.contact-title h1 {
  color: rgb(255, 255, 255);
  font-size: 100px;
  font-weight: 600;
  align-items: center;
  text-align: left;
  display: flex;
  width: 900px;
  white-space: nowrap;
}

.contact-title h1:nth-child(2) {
  margin-left: 0px;
  height: 80px;
  color: #1d6dd6;
}

.contact-title img {
  width: 220px;
  height: 100%;
}

.hardskills-circle {
  width: 220px;
  height: 220px;
  background-color: #1d6dd6;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: 600;
  font-size: 23px;
  color: white;
  box-shadow: 0px 0px 36px -16px white;
  position: relative;
  overflow: hidden;
  animation: pulse 3s ease-in-out infinite;
  margin-right: 10px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.hardskills-circle::after {
  content: ""; /* Criação da camada de fundo */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #154c94;
  border-radius: 50%;
  transform: scale(0);
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.hardskills-circle:hover::after {
  transform: scale(1);
}

.hardskills-circle:hover {
  cursor: pointer;
}

.hardskills-circle span {
  font-size: 30px;
  color: white;
}

/*------------------------FOOTER---------------------------*/

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background: #1b1b1d;
  padding: 20px;
}

.logo h2 {
  color: white;
}

.logo span {
  color: #1d6dd6;
}

.navbar {
  display: flex;
  gap: 2px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navbar ul > li {
  text-align: center;
  transition: 0.6s;
}

.navbar a:hover {
  color: #1d6dd6;
}

.navbar li:hover {
  transform: scale(0.85);
}

.social {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-container a,
.bxs {
  color: white;
}

.social .bx {
  justify-content: center;
  font-size: 25px;
  transition: 0.6s;
}

.bxs:hover {
  color: #1d6dd6;
  transform: scale(0.85);
}

/* --------------------- ESTILO DO FUNDO DO LOADER ------------------------- */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0f0f11;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

/* ---------------- ESCONDE O LOADER QUANDO A PÁGINA FOR CARREGADA -------------- */
#loader.hidden {
  opacity: 0;
  pointer-events: none;
}

/* ---------------------- LOADER ------------------*/
.spinner {
  width: 80px;
  height: 80px;
  --clr: rgb(127, 207, 255);
  --clr-alpha: rgb(127, 207, 255, 0.1);
  animation: spinner 2s infinite linear;
  transform-style: preserve-3d;
}

.spinner > div {
  background-color: var(--clr-alpha);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 5px solid var(--clr);
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-40px) rotateY(180deg);
}
.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}
.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}
.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}
.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}
.spinner div:nth-of-type(6) {
  transform: translateZ(40px);
}

@keyframes spinner {
  0% {
    transform: rotate(0deg) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: rotate(180deg) rotateX(180deg) rotateY(180deg);
  }
  100% {
    transform: rotate(360deg) rotateX(360deg) rotateY(360deg);
  }
}

/*Responsividade*/

@media screen and (max-width: 1570px) {
  .sobre-title {
    gap: 164px;
    margin: 0px 164px;
  }

  .sobre-title h1 {
    font-size: 20px;
    font-weight: 400;
  }

  .sobre-title span {
    font-size: 22px;
  }

  .line {
    margin: 0px 164px;
  }

  .projetos {
    padding: 0px 65px;
    font-size: 65px;
  }

  .right,
  .left {
    max-width: 817px;
  }

  .frasedeimpacto h1 {
    font-size: 114px;
  }

  .contact {
    height: 408px;
  }

  .contact-title h1 {
    font-size: 82px;
    width: 736px;
  }

  .contact-title img {
    width: 180px;
  }

  .contact-title h1:nth-child(2) {
    margin-left: 0px;
    height: 65px;
  }

  .hardskills-circle {
    width: 180px;
    height: 180px;
  }

  .hardskills-circle span {
    font-size: 24px;
  }

  .footer-container {
    height: auto;
  }

  .logo h2 {
    width: 400px;
  }

  .navbar {
    font-size: 20px;
  }
}

@media screen and (max-width: 1390px) {
  .copy {
    font-size: 18.2px;
  }

  .inicio h1 {
    font-size: 93.6px;
    height: 111.8px;
  }

  .inicio h2 {
    font-size: 37.7px;
  }

  button {
    padding: 9.41px 5.64px;
    margin-top: 14px;
  }

  button::before {
    width: 46.8px;
    border-radius: 30px;
  }
  .button-txt {
    font-size: 18.4px;
    gap: 8px;
  }

  .sobre-title {
    gap: 145px;
    margin: 0px 145px;
  }

  .sobre-title h1 {
    font-size: 18px;
    font-weight: 500;
  }

  .sobre-title span {
    font-size: 19.24pxpx;
  }

  .line {
    margin: 0px 145px;
  }

  .projetos {
    padding: 0px 57px;
    font-size: 57px;
  }

  .right,
  .left {
    max-width: 723px;
  }

  .frasedeimpacto h1 {
    font-size: 100px;
  }

  .contact {
    height: 361px;
  }

  .contact-title h1 {
    font-size: 72px;
    width: 651px;
  }

  .contact-title img {
    width: 159px;
  }

  .contact-title h1:nth-child(2) {
    margin-left: 0px;
    height: 57px;
  }

  .hardskills-circle {
    width: 159px;
    height: 159px;
  }

  .hardskills-circle span {
    font-size: 21px;
  }

  .footer-container {
    height: auto;
  }

  .logo h2 {
    width: 400px;
  }

  .navbar {
    font-size: 18px;
  }
}

@media screen and (max-width: 1190px) {
  .copy {
    font-size: 15.59px;
  }
  .inicio h1 {
    font-size: 80.2px;
    height: 95.7px;
  }
  .inicio h2 {
    font-size: 32.3px;
  }
  button {
    padding: 8.06px 4.83px;
    margin-top: 12px;
  }
  button::before {
    width: 40.1px;
    border-radius: 25.75px;
  }
  .button-txt {
    font-size: 15.75px;
    gap: 6.85px;
  }

  .sobre-title {
    gap: 124px;
    margin: 0px 124px;
  }

  .sobre-title h1 {
    font-size: 15px;
    font-weight: 500;
  }

  .sobre-title span {
    font-size: 16.47px;
  }

  .line {
    margin: 0px 124px;
  }

  .projetos {
    padding: 0px 49px;
    font-size: 49px;
  }

  .right,
  .left {
    max-width: 619px;
  }

  .frasedeimpacto h1 {
    font-size: 86px;
  }

  .contact {
    height: 309px;
  }

  .contact-title h1 {
    font-size: 62px;
    width: 557px;
  }

  .contact-title img {
    width: 136px;
  }

  .contact-title h1:nth-child(2) {
    margin-left: 0px;
    height: 49px;
  }

  .hardskills-circle {
    width: 136px;
    height: 136px;
  }

  .hardskills-circle span {
    font-size: 18px;
  }

  .footer-container {
    height: auto;
  }

  .logo h2 {
    width: 370px;
    font-size: 23px;
  }

  .navbar {
    font-size: 18px;
  }
}

@media screen and (max-width: 1020px) {
  .copy {
    font-size: 17px;
  }
  .inicio h1 {
    font-size: 68.2px;
    height: 81.4px;
  }
  .inicio h2 {
    font-size: 27.5px;
  }
  button {
    padding: 6.61px 3.96px;
    margin-top: 10.3px;
  }
  button::before {
    width: 34.4px;
    border-radius: 22.13px;
  }
  .button-txt {
    font-size: 13.61px;
    gap: 5.87px;
  }

  .sobre-title {
    gap: 106px;
    margin: 0px 106px;
  }

  #texto1 {
    font-size: 15px;
    font-weight: 600;
  }

  #texto2 {
    font-size: 13px;
  }

  .sobre-title span {
    font-size: 14.12px;
  }

  .line {
    margin: 0px 106px;
  }

  .projetos {
    padding: 0px 42px;
    font-size: 42px;
  }

  .right,
  .left {
    max-width: 530px;
  }

  .frasedeimpacto h1 {
    font-size: 74px;
  }

  .contact {
    height: 264px;
  }

  .contact-title h1 {
    font-size: 53px;
    width: 478px;
  }

  .contact-title img {
    width: 117px;
  }

  .contact-title h1:nth-child(2) {
    margin-left: 0px;
    height: 42px;
  }

  .hardskills-circle {
    width: 117px;
    height: 117px;
  }

  .hardskills-circle span {
    font-size: 15px;
  }

  .footer-container {
    height: auto;
  }

  .logo h2 {
    width: 326px;
    font-size: 20px;
  }

  .navbar {
    font-size: 15px;
  }
}

@media screen and (max-width: 950px) {
  .copy {
    font-size: 17px;
  }
  .inicio h1 {
    font-size: 63.5px;
    height: 75.8px;
  }
  .inicio h2 {
    font-size: 25.6px;
  }
  button {
    padding: 6.16px 3.69px;
    margin-top: 9.5px;
  }
  button::before {
    width: 32.1px;
    border-radius: 20.78px;
  }
  .button-txt {
    font-size: 12.66px;
    gap: 5.47px;
  }

  .sobre-title {
    gap: 99px;
    margin: 0px 99px;
  }

  #texto1 {
    font-size: 14px;
    font-weight: 600;
  }

  #texto2 {
    font-size: 12px;
  }

  .sobre-title span {
    font-size: 14.12px;
  }

  .line {
    margin: 0px 99px;
  }

  .projetos {
    padding: 0px 39px;
    font-size: 39px;
  }

  .right {
    max-width: 600px;
    margin: 20px auto;
  }

  .left {
    max-width: 600px;
    margin: auto;
  }

  .frasedeimpacto h1 {
    font-size: 69px;
  }

  .contact {
    height: 246px;
  }

  .contact-title h1 {
    font-size: 49px;
    width: 445px;
  }

  .contact-title img {
    width: 109px;
  }

  .contact-title h1:nth-child(2) {
    margin-left: 0px;
    height: 39px;
  }

  .hardskills-circle {
    width: 109px;
    height: 109px;
  }

  .hardskills-circle span {
    font-size: 14px;
  }

  .footer-container {
    height: auto;
  }

  .logo h2 {
    width: 300px;
    font-size: 20px;
  }

  .navbar {
    font-size: 16px;
  }
}

@media screen and (max-width: 840px) {
  .copy {
    font-size: 17px;
  }
  .inicio h1 {
    font-size: 56.6px;
    height: 67.5px;
  }
  .inicio h2 {
    font-size: 22.8px;
  }

  button {
    padding: 5.49px 3.29px;
    margin-top: 8.4px;
  }
  button::before {
    width: 28.5px;
    border-radius: 18.47px;
  }
  .button-txt {
    font-size: 11.28px;
    gap: 4.87px;
  }

  .sobre-title {
    gap: 88px;
    margin: 0px 88px;
  }

  #texto1 {
    font-size: 12px;
    font-weight: 600;
  }

  #texto2 {
    font-size: 10.7px;
  }

  .sobre-title span {
    font-size: 14.12px;
  }

  .line {
    margin: 0px 88px;
  }

  .projetos {
    padding: 0px 35px;
    font-size: 35px;
  }

  .right {
    max-width: 531px;
    margin: 18px auto;
  }

  .left {
    max-width: 531px;
    margin: auto;
  }

  .frasedeimpacto h1 {
    font-size: 61px;
  }

  .contact {
    height: 217px;
  }

  .contact-title h1 {
    font-size: 43px;
    width: 394px;
  }

  .contact-title img {
    width: 96px;
  }

  .contact-title h1:nth-child(2) {
    margin-left: 0px;
    height: 34px;
  }

  .hardskills-circle {
    width: 96px;
    height: 96px;
  }

  .hardskills-circle span {
    font-size: 12px;
  }

  .footer-container {
    height: auto;
  }

  .logo h2 {
    width: 249px;
    font-size: 19px;
  }

  .navbar {
    font-size: 14px;
  }

  .social .bx {
    font-size: 20px;
  }
}

@media screen and (max-width: 750px) {
  .copy {
    font-size: 17px;
  }
  .inicio h1 {
    font-size: 50.6px;
    height: 60.4px;
  }
  .inicio h2 {
    font-size: 20.4px;
  }

  .brasil {
    width: 100px;
    height: 100px;
  }

  .brasil:hover,
  .brasil-txt:hover {
    width: 200px;
    cursor: pointer;
  }

  .brasil > div {
    background-image: url("img/globo.gif");
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  .brasil-txt {
    font-size: 15px;
    width: 100px;
    white-space: nowrap;
  }

  button {
    padding: 4.91px 2.94px;
    margin-top: 7.5px;
  }
  button::before {
    width: 25.5px;
    border-radius: 16.47px;
  }
  .button-txt {
    font-size: 10.08px;
    gap: 4.31px;
  }

  .sobre-title {
    gap: 79px;
    margin: 0px 79px;
  }

  #texto1 {
    font-size: 11px;
    font-weight: 600;
  }

  #texto2 {
    font-size: 9.5px;
  }

  .sobre-title span {
    font-size: 14.12px;
  }

  .line {
    margin: 0px 79px;
  }

  .projetos {
    padding: 0px 31px;
    font-size: 31px;
  }

  .right {
    max-width: 474px;
    margin: 16px auto;
  }

  .left {
    max-width: 474px;
    margin: auto;
  }

  .frasedeimpacto h1 {
    font-size: 54px;
  }

  .contact {
    height: 194px;
  }

  .contact-title h1 {
    font-size: 38px;
    width: 352px;
  }

  .contact-title img {
    width: 86px;
  }

  .contact-title h1:nth-child(2) {
    margin-left: 0px;
    height: 30px;
  }

  .hardskills-circle {
    width: 86px;
    height: 86px;
  }

  .hardskills-circle span {
    font-size: 11px;
  }

  .footer-container {
    height: auto;
  }

  .logo h2 {
    width: 150px;
    font-size: 17px;
  }

  .navbar {
    font-size: 13px;
  }

  .social .bx {
    font-size: 18px;
  }
}

@media screen and (max-width: 610px) {
  .copy {
    font-size: 17px;
  }
  .inicio h1 {
    font-size: 41.1px;
    height: 49.1px;
  }
  .inicio h2 {
    font-size: 16.6px;
  }

  .brasil {
    display: none;
  }
  
  /*
  .brasil:hover,
  .brasil-txt:hover {
    width: 200px;
    cursor: pointer;
  }
 
  .brasil > div {
    background-image: url("img/globo.gif");
    width: 65px;
    height: 65px;
    border-radius: 50%;
    top: 8px;
    left: 8px;
  }

  .brasil-txt {
    font-size: 13px;
    width: 100px;
    white-space: nowrap;
  }*/

  button {
    padding: 3.99px 2.39px;
    margin-top: 6.1px;
  }
  button::before {
    width: 20.7px;
    border-radius: 13.37px;
  }
  .button-txt {
    font-size: 8.17px;
    gap: 3.5px;
  }
  .sobre-title {
    gap: 64.25px;
    margin: 0px 64.25px;
  }

  #texto1 {
    font-size: 11px;
    font-weight: 600;
  }

  #texto2 {
    font-size: 10px;
    align-items: start;
  }

  .sobre-title span {
    font-size: 12.7px;
  }

  .line {
    margin: 0px 64.25px;
  }

  .projetos {
    padding: 0px 25.2px;
    font-size: 25.21px;
  }

  .right {
    max-width: 385.51px;
    margin: 13.01px auto;
  }

  .left {
    max-width: 385.51px;
    margin: auto;
  }

  .frasedeimpacto h1 {
    font-size: 43.92px;
  }

  .contact {
    height: 157.77px;
  }

  .contact-title h1 {
    font-size: 30.91px;
    width: 285.33px;
  }

  .contact-title img {
    width: 69.94px;
  }

  .contact-title h1:nth-child(2) {
    margin-left: 0px;
    height: 24.4px;
  }

  .hardskills-circle {
    width: 69.94px;
    height: 69.94px;
  }

  .hardskills-circle span {
    font-size: 8.95px;
  }

  .footer-container {
    height: auto;
  }

  .logo h2 {
    width: 150px;
    font-size: 13.82px;
  }

  .navbar {
    font-size: 10.57px;
  }

  .social .bx {
    font-size: 15px;
  }
}

@media screen and (max-width: 510px) {
  /*-----Inicio-----*/

  .copy {
    font-size: 17px;
  }
  .inicio h1 {
    font-size: 34.4px;
    height: 41.1px;
  }
  .inicio h2 {
    font-size: 13.9px;
  }
  button {
    padding: 3.34px 2px;
    margin-top: 5.1px;
  }
  button::before {
    width: 17.3px;
    border-radius: 11.17px;
  }
  .button-txt {
    font-size: 6.86px;
    gap: 2.93px;
  }
  .sobre-title {
    gap: 53.69px;
    margin: 0px 53.69px;
  }

  #texto1 {
    font-size: 10.5px;
    font-weight: 600;
  }

  #texto2 {
    font-size: 10px;
  }

  .sobre-title span {
    font-size: 10.62px;
  }

  .line {
    margin: 0px 53.69px;
  }

  .projetos {
    padding: 0px 21.08px;
    font-size: 21.08px;
  }

  .right {
    max-width: 322.39px;
    margin: 10.87px auto;
  }

  .left {
    max-width: 322.39px;
    margin: auto;
  }

  .frasedeimpacto h1 {
    font-size: 36.72px;
  }

  .contact {
    height: 131.97px;
  }

  .contact-title h1 {
    font-size: 25.85px;
    width: 238.46px;
  }

  .contact-title img {
    width: 58.49px;
  }

  .contact-title h1:nth-child(2) {
    margin-left: 0px;
    height: 20.4px;
  }

  .hardskills-circle {
    width: 58.49px;
    height: 58.49px;
  }

  .hardskills-circle span {
    font-size: 7.49px;
  }

  .footer-container {
    height: auto;
  }

  .logo h2 {
    width: 140px;
    font-size: 11.56px;
  }

  .navbar {
    font-size: 10.84px;
  }

  .social .bx {
    font-size: 13px;
  }
}

@media screen and (max-width: 454px) {
  /*-----Inicio-----*/

  .copy {
    font-size: 15px;
  }
  .inicio h1 {
    font-size: 30.7px;
    height: 36.8px;
  }
  .inicio h2 {
    font-size: 12.4px;
  }
  button {
    padding: 2.99px 1.79px;
    margin-top: 4.5px;
  }
  button::before {
    width: 15.4px;
    border-radius: 9.95px;
  }
  .button-txt {
    font-size: 6.12px;
    gap: 2.62px;
  }

  .sobre-title {
    gap: 43.14px;
    margin: 0px 43.14px;
  }

  #texto1 {
    font-size: 10px;
    font-weight: 600;
  }

  #texto2 {
    font-size: 9px;
  }

  .sobre-title span {
    font-size: 9.4px;
  }

  .line {
    margin: 0px 43.14px;
  }

  .projetos {
    padding: 0px 16.93px;
    font-size: 16.93px;
  }

  .right {
    max-width: 259.14px;
    margin: 8.73px auto;
  }

  .left {
    max-width: 259.14px;
    margin: auto;
  }

  .frasedeimpacto h1 {
    font-size: 29.52px;
  }

  .contact {
    height: 106.07px;
  }

  .contact-title h1 {
    font-size: 20.78px;
    width: 191.57px;
  }

  .contact-title img {
    width: 47.01px;
  }

  .contact-title h1:nth-child(2) {
    margin-left: 0px;
    height: 16.41px;
  }

  .hardskills-circle {
    width: 47.01px;
    height: 47.01px;
  }

  .hardskills-circle span {
    font-size: 6.01px;
  }

  .footer-container {
    height: auto;
  }

  .logo h2 {
    width: 110.27px;
    font-size: 12px;
  }

  .navbar {
    font-size: 10px;
  }
}

/*
Diminuir a largura da fita do globo em dispositivos menores.
Encontrar um bom gif de globo para substituir.


deixar p bruno rovani mais alto para dispositivos moveis 

se inspirar no portfolio do Dennis Snellenberg

*/
